.home{padding:20px;background:#f2f2f2}
.carousel img{width:100%;height:250px;object-fit:cover}
.slideText{position:absolute;bottom:20px;left:20px;color:white;font-size:2rem}
.temas{text-align:center;margin:20px}
.temas button{margin:10px;padding:10px 25px}
.temas .activo{background:#0057B7;color:white}
.timeline{display:flex;justify-content:center;gap:15px}
.panel{background:white;padding:20px;margin:30px;border-radius:15px}
.cta{display:block;margin:auto;font-size:1.5rem;padding:15px 40px;background:#b30000;color:white}
